body {
  font-family: "Lucida Grande", "Arial", "Helvetica", "Sans-Serif";
  background: #e2d4c2 url(images/background.png) repeat;
  margin: 0; padding: 0;
  font-size: 18px;
}

h1, h2 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-Serif";
  margin: 0; padding: 0;
  color: #333;
}

h1 {
  letter-spacing: -0.07em;
  font-size: 105px;
  line-height: 90px;
}

h2 {
  margin-bottom: 30px;
  letter-spacing: -0.08em;
  font-size: 30px;
}

p {
  color: #000;
  line-height: 30px;
  background: #eee;
  margin-bottom: 30px;
}

a:link, a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #603913;
}

a:hover, a:active {
  font-weight: bold;
  text-decoration: underline;
  color: #900;
}

#content {
  position: relative;
  background: #fff; border-top: 15px #603913 solid;
  width: 700px;  height:100%;
  margin: 50px auto; padding: 20px;
}

#apple {
  position: absolute;
  right: 10px; top: 10px; width: 26px; height: 30px;
  background: #fff url(images/apple.png);
}

.question {
  font-size: 120%; font-weight: bold;
  background: #603913; color: #fff;
  padding: 2px 6px; margin: 0 5px 0 0;
}