body {
  font-family: "Lucida Grande", "Arial", "Helvetica", "Sans-Serif";
  background: #e2d4c2 url(images/background.png) repeat;
  margin: 0; padding: 0;
  font-size: 18px;
}

#wrapper {
  margin: 0 auto;
  padding: 0;
  width: 740px;
}

#header {
  background: #fff;
  border-top: 15px solid #603913;
  margin: 50px 0 0 0;
  padding: 20px;
  position: relative;
  width: 700px;
}

#section {
  background: #fff;
  display: inline;
  float: left;
  margin: 0 0 50px 0;
  padding: 0 20px;
  width: 700px;
}

#questions {
  float: left;
  display: inline;
  width: 500px;
}

#questions p {
  width: 480px;
}

#eventbrite {
  float: left;
  display: inline;
  width: 200px;
}

h1, h2 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-Serif";
  margin: 0; padding: 0;
  color: #333;
}

h1 {
  letter-spacing: -0.07em;
  font-size: 105px;
  line-height: 90px;
}

h2 {
  margin-bottom: 10px;
  letter-spacing: -0.08em;
  font-size: 29px;
}

p {
  color: #000;
  line-height: 30px;
  margin-bottom: 30px;
}

a:link, a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #603913;
}

a:hover, a:active {
  font-weight: bold;
  text-decoration: underline;
  color: #900;
}

#apple {
  position: absolute;
  right: 10px; top: 10px; width: 26px; height: 30px;
  background: #fff url(images/apple.png);
}

.question {
  font-size: 120%; font-weight: bold;
  background: #603913; color: #fff;
  padding: 2px 6px; margin: 0 5px 0 0;
}
